<!DOCTYPE html>
<html>
  <head>
    <title>Obi-Wan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>What does Obi-Wan say?</h1>
    <p>Obi-Wan says: <% if(nr < 0.5) { %>
        Hello, there!
        <% } else { %>
        You were supposed to destroy the Sith! Not join them!
        <% } %>
    </p>
  </body>
</html>
